@tailwind base;

@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(_assets/fonts/proxima-nova/400-regular.woff2) format("woff2");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url(_assets/fonts/proxima-nova/700-bold.woff2) format("woff2");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url(_assets/fonts/proxima-nova/900-black.woff2) format("woff2");
}

@tailwind components;

@tailwind utilities;