/* layout-only supplementary styles for the signup page */

#layout-signup {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
}

#layout-signup .grid {
  grid-template-columns: 3fr 5fr;
}

#layout-signup .left {
  display: none;
}

#layout-signup .right {
  grid-column: 2 / 3;
}

#layout-signup .right form > fieldset > div {
  margin-bottom: 1rem;
}

#layout-signup .right form > div > label,
#layout-signup .right form > fieldset > legend {
  font-weight: 600;
}

@media (min-width: 768px) {
  
  #layout-signup .right form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1rem;
  }

  #layout-signup .right form > div,
  #layout-signup .right form > fieldset {
    grid-column: 3 / 7;
  }

  #layout-signup .right form > .medium\:text-center {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1440px) {
  #layout-signup {
    grid-template-columns: repeat(2, 1fr);
  }

  #layout-signup .left {
    display: block;
    background-image: url(../../kid1.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
  }

  #layout-signup .right {
    margin: 0 1rem;
    display: block;
  }

  #layout-signup .right form > div,
  #layout-signup .right form > fieldset {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  
  #layout-signup .right form > div > label,
  #layout-signup .right form > fieldset > legend {
    grid-column: 1 / -1;
  }

  #layout-signup .right form > fieldset {
    display: contents;
  }

  #layout-signup .right form > fieldset > div {
    grid-column: 1 / 5;
  }

  #layout-signup .right form > div > div,
  #layout-signup .right form > div > input,
  #layout-signup .right form > div > select,
  #layout-signup .right form > fieldset > input,
  #layout-signup .right form > .medium\:text-center > div.submit {
    grid-column: 1 / 2;
  }

  #layout-signup .right form > .medium\:text-center, 
  #layout-signup .right form > .medium\:text-center > div {
    /* display: block; */
    grid-column: 1 / -1;
  }

}