/* background image must be set in CSS, tailwind and ant can't handle it */
.auth-image {
  display: block;
  background-image: url(../kid1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
