<%= image_tag attachments['pieFullTanLogo.svg'].url, width: '150', align: "middle" %>

<p>Hi<%= @greeting_name ? " #{@greeting_name}," : ","%></p>

<p>Welcome to Pie for Providers! Get ready to increase your slice of the pie with simple child care subsidy management tools. To get started, please verify your email address by clicking the link below (you can also copy and paste it into your browser).</p>

<p><%= link_to 'Confirm Account', "#{ActionMailer::Base.default_url_options[:protocol]}#{ActionMailer::Base.default_url_options[:host]}#{ActionMailer::Base.default_url_options[:port]}/confirm?confirmation_token=#{@resource.confirmation_token}", target: "_blank" %></p>

<p>Questions? Email <%= mail_to 'tech@pieforproviders.com', 'tech@pieforproviders.com', subject: 'Pie for Providers: question after signup' %></p>