<%= render 'greeting', greeting_name: @greeting_name %>

<p><%= t('mailers.reset_password_instructions.body') %></p>

<p><%= link_to @password_update_path, @password_update_path, target: "_blank"  %></p>

<p><%= t('mailers.reset_password_instructions.note') %></p>
