name: Auto-Update Branches
on:
  pull_request:
jobs:
  auto-update:
    name: auto-update
    runs-on: ubuntu-20.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'