name: Frontend CI
concurrency: 
  group: frontend-${{ github.head_ref }}
  cancel-in-progress: true
on:
  push:
      branches:
        - 'develop'
  pull_request:
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:
jobs:
  lint_frontend:
    name: Frontend linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - run: git checkout HEAD^
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '16'
      - name: Linting
        run: |
          cd client
          yarn
          yarn lint
  test_frontend:
    name: Frontend tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - run: git checkout HEAD^
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '16'
      - name: yarn test
        run: |
          cd client
          yarn
          yarn test --watchAll=false