name: Frontend CI
concurrency: 
  group: frontend-${{ github.head_ref }}
  cancel-in-progress: true
on:
  push:
      branches:
        - 'develop'
  pull_request_target:
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:
jobs:
  lint_frontend:
    name: Frontend linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Linting
        run: |
          cd client
          yarn
          yarn lint
  test_frontend:
    name: Frontend tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: yarn test
        run: |
          cd client
          yarn
          yarn test --watchAll=false